variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
ansibleold/
ansiblenew/
terraform/secret/key.json
terraform/stage/terraform.tfvars
terraform/prod/terraform.tfvars
del.sh
put.sh
terraform/headon.sh
terraform/headoff.sh
*.old
*.retry
jdauphant.nginx
ansible/vault.key
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
ansible/venv/
