zone = "ru-central1-a"
zone_app = "ru-central1-a"
service_account_key_file = "key.json"
cloud_id = "cloud_id_xxxxxxxx"
folder_id = "folder_id_xxxxxx"
subnet_id = "subnet_id_xxxxxx"
image_id = "fd82t5k1lbh1pgjspfu9"
ssh_keys = "ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX= ubuntu"
private_key = "ubuntu"
yandex = "yandex"
